Repository VectorInstitute/cyclops, pull requests merged in 2023-06, with the labels that each got.

#434 Add some unit tests for model catalog fns
  tests/cyclops/models/test_catalog.py
Labels: tests

#433 Add some unit tests for util functions in models wrappers subpackage
  tests/cyclops/models/wrappers/test_utils.py
Labels: tests

#432 Add some unit tests for util functions in models package
  tests/cyclops/models/test_utils.py
Labels: tests

#431 Add a base task class so that common methods as placed there
  cyclops/tasks/base.py
  cyclops/tasks/cxr_classification.py
  cyclops/tasks/mortality_prediction.py
  tests/cyclops/tasks/test_cxr_classification.py
  tests/cyclops/tasks/test_mortality_prediction.py
  use_cases/cxr_classification.ipynb
  use_cases/mortality_prediction.ipynb
Labels: tests, refactor

#437 Add MIMIC Tutorial
  cyclops/tasks/cxr_classification.py
  cyclops/tasks/mortality_prediction.py
  docs/source/tutorials.rst
  docs/source/tutorials/mimiciii/mortality_prediction.ipynb
  docs/source/tutorials_use_cases.rst
  poetry.lock
  pyproject.toml
Labels: documentation

#438 Fix Fairness Evaluator Bug
  cyclops/data/utils.py
  cyclops/evaluate/evaluator.py
  cyclops/evaluate/fairness/evaluator.py
  cyclops/evaluate/metrics/utils.py
  docs/source/tutorials/mimiciii/mortality_prediction.ipynb
  nbs/explore_huggingface_datasets.ipynb
Labels: bug, refactor

#444 Dynamic report generation
  cyclops/report/examples/nih_report.ipynb
  cyclops/report/model_card/template/cyclops_generic_template_dark.jinja
  cyclops/report/model_card/template/cyclops_generic_template_light.jinja
  cyclops/report/model_card/template/cyclops_template.jinja
  poetry.lock
  pyproject.toml
Labels: enhancement

#447 Update package extras lists, add tests for package installs
  .github/workflows/package.yml
  cyclops/data/features/medical_image.py
  cyclops/evaluate/__init__.py
  cyclops/monitor/__init__.py
  poetry.lock
  pyproject.toml
  setup.py
  tests/cyclops/data/test_slicer.py
  tests/package/base.py
  tests/package/extras/models.py
  tests/package/extras/query.py
  tests/package/extras/report.py
Labels: tests

#449 Use new runner for docs builds
  .github/workflows/docs_build.yml
  .github/workflows/docs_deploy.yml
  .github/workflows/integration_tests.yml
Labels: tests

#451 Allow Single Sample Inputs to Metrics
  cyclops/evaluate/metrics/functional/accuracy.py
  cyclops/evaluate/metrics/functional/f_beta.py
  cyclops/evaluate/metrics/functional/precision_recall.py
  cyclops/evaluate/metrics/functional/precision_recall_curve.py
  cyclops/evaluate/metrics/functional/specificity.py
  cyclops/evaluate/metrics/functional/stat_scores.py
  cyclops/evaluate/metrics/utils.py
  tests/cyclops/evaluate/metrics/helpers.py
  tests/cyclops/evaluate/metrics/inputs.py
  tests/cyclops/evaluate/metrics/test_accuracy.py
  tests/cyclops/evaluate/metrics/test_auroc.py
  tests/cyclops/evaluate/metrics/test_metric_collection.py
  tests/cyclops/evaluate/metrics/test_precision_recall_curve.py
  tests/cyclops/evaluate/metrics/test_roc.py
  tests/cyclops/evaluate/metrics/test_stat_scores.py
Labels: bug, refactor
